.sa-source-wrapper {
  clear:both;
  height: auto;
  overflow: hidden;
}

.sa-source-wrapper strong {
  float:left;
  margin-right: 5px;
}

.sa-source-wrapper .news-source {
  float:left;
  padding-left: 5px;
}

.sa-source-wrapper ul,
.sa-source-wrapper ol {
  clear:both;
}
