#list-source-link {
	list-style-type: none;

	li {
		border: 1px #cccccc solid;
		padding:15px 5px;
		margin:10px 0;
		background-color: #eeeeee;

		input {
			margin:0px 5px;
		}
	}

	.btn-remove-source-link {
		margin-left: 10px;
	}

	.btn-move-source-link {
		margin: 0px 10px;
	}

	i {
		border:1px #cccccc solid;
		background-color: #dddddd;
		padding: 1px;
	}
}





